Hello Dr. <%= @user.first_name %>

<p>This is Gary reaching out to see if you had any questions or concerns regarding upgrading your account - I would be happy to answer them</p>

Thanks<br/>
Gary<br/>
<a href="http://www.myresidencylist.com">MyResidencyList.com</a>