Hello Dr. <%= @user.first_name %>

<p>Not too long ago I went through the residency application process just like you are going through now. I remember it like it was yesterday, I had finally passed all my steps, got some US clinical experience under my belt, and written my personal statement and was ready to make my list of programs to apply to.</p>

<p>But I didn't have the first clue on where to start. I wanted to apply to multiple specialties and the total number of potential programs I could apply to was almost 1,000! I tried to visit the <b>program websites which lacked program criteria, I emailed program coordinators and never heard back from them,</b> etc.</p>

<p>I ended up applying to over 200 programs that I thought were "IMG Friendly" programs based on old lists floating around the internet for years. <b>I spent $5,000 USD on application fees and waited..and waited..</b></p>

<p><b>I received interviews from only 10% of the programs I had applied to,</b> despite my stats being 259/263/No Visa needed. It felt like a colossal waste of money. I wish I had an accurate source of information on where to and where not to apply based on my profile and which programs were TRULY interested in IMGs. Although I did match, the whole process left a bitter taste in my mouth</p>

<p>So myself and a group of other successful applicants set out to build a tool based on the most up-to date database of programs to help future applicants avoid my experience.</p>

<p><b>Download your Custom-Tailored Residency Program List matching your individual profile and&nbsp;<span style="color:red;">save weeks of time and thousands of dollars at&nbsp;</span><a href="http://www.myresidencylist.com">MyResidencyList.com</a></b></p>

Thanks<br/>
Gary<br/>
<a href="http://www.myresidencylist.com">MyResidencyList.com</a>