<h3><%= @speciality.name %></h3>

<% @programs.each do |program| %>
  <%= program.send(current_user.img_type) %>
  <%= link_to program.name, speciality_program_path(@speciality, program) %><br/>
<% end %>